body {
    background: #c2d9ff;
}

.content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.columnContainer {
    min-width: 25rem;
    display: flex;
    flex-direction: column;
}

#script_area {
    height: 45rem;
    overflow-y: auto;
    resize: none;
    border-color: #555;
}

#result_area {
    height: 45rem;
    overflow-y: auto;
    border-color: #555;
    border-style: solid;
    display: inline-block;
    background: white;
}

.success {
    color: green;
}

.error {
    color: red;
}
