body {
    background: #262626;
    color: white;
}

.content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:70%;
}

.columnContainer {
    width: 40%;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
}

#script_area {
    height: 45rem;
    overflow-y: auto;
    resize: none;
    border-color: #222;
    border-radius: 5px;
}

#result_area {
    height: 45rem;
    overflow-y: auto;
    border-color: #222;
    resize: none;
    border-radius: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}

#run_button {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    background: #00e6db;
    border: none;
    margin: 2px;
    font-weight: bold;
    color: #262626;
}

#run_button:hover {
    background: #00d4ca;
}

#run_button:active {
    background: #00bfb6;
    color: black;
}

#run_button .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

#run_button:hover .tooltiptext {
  visibility: visible;
}
